 /* Your CSS styles here */
 .error-message {
    color: red;
}

body {
    font-family: 'Arial', sans-serif;
    background-color: #f5f5f5;
    margin: 0;
    padding: 0;
    animation: colorChange 5s infinite alternate;
    /* Pulsating background color */
}

@keyframes colorChange {
    0% {
        background-color: #f5f5f5;
    }

    100% {
        background-color: #ffcccb;
    }
}

a {
    text-decoration: none;
    color: #007BFF;
}

#error {
    color: red;
    margin: 10px;
}

form {
    margin: 20px;
}

table {
    border-collapse: collapse;
    width: 80%;
    /* Increased width */
    margin: 20px auto;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

td,
th {
    border: 1px solid #ddd;
    padding: 15px;
    /* Increased padding */
    text-align: left;
}

label {
    display: block;
    margin-bottom: 5px;
}

input {
    width: 100%;
    padding: 10px;
    /* Adjusted padding */
    margin-bottom: 10px;
    box-sizing: border-box;
}

input[type="submit"],
input[type="reset"] {
    background-color: #e91e63;
    color: #fff;
    padding: 10px 15px;
    /* Adjusted padding */
    border: none;
    cursor: pointer;
    border-radius: 4px;
    animation: floatButton 2s infinite;
}

@keyframes floatButton {
    0%,
    100% {
        transform: translateY(0);
    }

    50% {
        transform: translateY(-5px);
    }
}

input[type="submit"]:hover,
input[type="reset"]:hover {
    background-color: #c2185b;
}

input[type="reset"] {
    background-color: #007BFF;
}